<head>
  <%- include('partials/head') %>
</head>
<body>
  <form action="/" method="post">
    <% for (setting of Object.keys(shirtData)) { %>
      <fieldset>
        <legend><%= shirtData[setting].title %>:</legend>
        <%- include('partials/button-list', {valueList: shirtData[setting].options, name: setting}) %>
      </fieldset>
    <% } %>
  </form>
  <form action="/shirts" method="post">
    <button type="submit">Save</button>
  </form>
  <%- include('partials/shirt') %>
  <a href="/shirts">View your shirts</a>
</body>
