<head>
  <%- include('partials/head') %>
</head>
<body>
  <form action="/" method="post">
    <% const shirtSettings = Object.keys(shirtData) %>
    <% for (setting of shirtSettings) { %>
      <fieldset>
        <legend><%= shirtData[setting].title %>:</legend>
        <%- include('partials/button-list', {valueList: shirtData[setting].options, name: setting}) %>
      </fieldset>
    <% } %>
  </form>
  <form action="/checkout" method="post">
    <button type="submit" name="save" value="true">Save</button>
  </form>
  <%- include('partials/shirt') %>
</body>
