<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href='/shirts'>Return to your shirts</a>
    </nav>
  </header>
  <main>
    <section>
      <h1>Your Details</h1>
      <form action="/order-confirmation" method="post">
        <label>
          Full Name
          <input type="input" name="name" value="">
        </label>
        <label>
          Email
          <input type="input" name="email" value="">
        </label>
        <label>
          Phone Number
          <input type="input" name="tel" value="">
        </label>
        <label>
          Adress
          <input type="input" name="address-line3" value="">
        </label>
        <label>
          Postal Code
          <input type="input" name="postal-code" value="">
        </label>
        <button type="submit" name="button" class="confirm">Order</button>
      </form>
    </section>
    <section>
      <h1>Current Order</h1>
      <%- include('partials/order-list') %>
    </section>
  </main>
</body>
</html>
