<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href='/shirts'>Return to your shirts</a>
    </nav>
  </header>
  <main>
    <h1>Confirmation</h1>
    <p>Thanks for your order you will recieve an confirmation email soon ofzo :)</p>
  </main>
</body>
</html>
