<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('partials/head') %>
</head>
<body>
  <header>
    <nav>
      <a href='/shirts'>Return to your shirts</a>
    </nav>
  </header>
  <main>
    <section>
      <h1>Confirmation</h1>
      <p>Thanks for your order you will recieve an confirmation email soon :)</p>
    </section>
  </main>
</body>
</html>
